@page
@model BucketListApplication.Pages.Elements.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Collection</h1>

<p>
    <a asp-page="Create">Create New Element</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Element[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Element) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ElementID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ElementID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ElementID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
