@page
@model BucketListApplication.Pages.Social.UserCheckModel

@{
    ViewData["Title"] = "Index";
}

<h3>@Model.Title</h3>

<div class="mt-20" style="display: flex; align-items: center;">
    <form method="post" id="bucketlistselectform">
        <select asp-for="SelectedBucketList.BucketListID" class="form-control BLselect" asp-items="Model.BucketListSL" onchange="SubmitBLEListing()"></select>
    </form>
</div>

@if (Model.SelectedBLElements != null)
{
    <table class="table mt-20">
        <tbody>
            @foreach (var item in Model.SelectedBLElements)
            {
                <tr class="tableRow">
                    <td align="center" class="checkCell">
                        @if (item.Completed)
                        {
                            <img class="completedImage" src="~/images/checked.png" />
                        }
                        else
                        {
                            <img class="completedImage" src="~/images/unchecked.png" />
                        }
                    </td>
                    <td class="goalCell">
                        <span class="otherUsersGoal" asp-page="./Details" asp-route-id="@item.ElementID">
                            @Html.DisplayFor(modelItem => item.Name)
                        </span>
                    </td>
                    <td class="progressionCell">
                        @if (item.Progression.BLETasks.Count != 0)
                        {
                            <div>@Html.DisplayFor(modelItem => item.Progression.CompletedPercentage) <text> %</text></div>
                            <div class="progress" style="background-color: #36393f">
                                <div class="progress-bar bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                     aria-valuenow="@item.Progression.CompletedPercentage" style="width: @(Html.Raw(item.Progression.CompletedPercentage + "%"))"></div>
                            </div>
                        }
                    </td>
                </tr>
            }
            <tr class="tableRow">
                <td class="checkCell">
                    <div>
                        <a class="btn backBtn" asp-page="./Index">Vissza</a>
                    </div>
                </td>
                <td class="goalCell"></td>
                <td class="progressionCell"></td>
            </tr>
        </tbody>
    </table>
}