@page
@model BucketListApplication.Pages.BLElements.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Létrehozás</h1>
<hr />

<form method="post">
    <div class="row">
        <section class="col-lg-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table>
                <tr class="form-group">
                    <td>
                        <label asp-for="BucketListElement.Name" class="control-label">Cél:</label>
                    </td>
                    <td>
                        <input asp-for="BucketListElement.Name" class="form-control" required="required"/>
                    </td>
                </tr>
                <tr class="form-group">
                    <td>
                        <label asp-for="BucketListElement.Visibility" class="control-label">Láthatóság:</label>
                    </td>
                    <td>
                        <select asp-for="BucketListElement.Visibility" asp-items="Html.GetEnumSelectList<Models.Visibility>()" class="form-control"></select>
                    </td>
                </tr>
                <tr class="form-group">
                    <td style="vertical-align:top">
                        <label asp-for="BucketListElement.Description" class="control-label">Leírás:</label>
                    </td>
                    <td>
                        <textarea asp-for="BucketListElement.Description" class="form-control" rows="4"></textarea>
                    </td>
                </tr>
                <tr class="form-group">
                    <td>
                        <label asp-for="BucketListElement.Completed" class="control-label">Teljesítve:</label>
                    </td>
                    <td>
                        <input asp-for="BucketListElement.Completed" />
                    </td>
                </tr>
                <tr>
                    <td class="form-group">
                        <input type="submit" value="Hozzáad" class="btn btn-primary" />
                    </td>
                    <td>
                        <a href="./Index" class="btn btn-outline-primary">Vissza</a>
                    </td>
                </tr>
            </table>
        </section>

        <section class="col-lg-4">
            <div class="form-group">
                <div class="table">
                    <table>
                        @{
                            for (int i = 0; i < Model.AssignedCategoryDataList.Count; i += 2)
                            {
                                <tr>
                                    <td>
                                        @Model.AssignedCategoryDataList.ElementAt(i).Name
                                    </td>
                                    <td>
                                        <input type="checkbox" name="selectedCategories"
                                               value="@Model.AssignedCategoryDataList.ElementAt(i).CategoryID"
                                               @(Html.Raw(Model.AssignedCategoryDataList.ElementAt(i).Assigned ? "checked=\"checked\"" : "")) />
                                    </td>
                                    @if (i + 1 < Model.AssignedCategoryDataList.Count)
                                    {
                                        <td>
                                            @Model.AssignedCategoryDataList.ElementAt(i + 1).Name
                                        </td>
                                        <td>
                                            <input type="checkbox" name="selectedCategories"
                                                   value="@Model.AssignedCategoryDataList.ElementAt(i + 1).CategoryID"
                                                   @(Html.Raw(Model.AssignedCategoryDataList.ElementAt(i + 1).Assigned ? "checked=\"checked\"" : "")) />
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </section>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

