@page
@model BucketListApplication.Pages.BLElements.DeleteModel

@{
    ViewData["Title"] = "Törlés";
}

<p class="Hiba tortent!">@Model.ErrorMessage</p>

<h4 style="margin-bottom: 40px">Biztosan törölni szeretnéd?</h4>

<table style="margin-bottom: 40px">
    <tr>
        <td>
            Cél:
        </td>
        <td style="padding-left: 15px">
            @Html.DisplayFor(model => model.BucketListElement.Name)
        </td>
    </tr>
    <tr>
        <td>
            Tartalmazó lista:
        </td>
        <td style="padding-left: 15px">
            @Html.DisplayFor(model => model.BucketListElement.BucketList.Name)
        </td>
    </tr>
        @if (Model.BucketListElement.Description != "" && Model.BucketListElement.Description != null)
        {
        <tr>
            <td>
                Leírás:
            </td>
            <td style="padding-left: 15px">
                @Html.DisplayFor(model => model.BucketListElement.Description)
            </td>
        </tr>
    }
    </table>

<form method="post">
    <input type="hidden" asp-for="BucketListElement.ElementID" />
    <input type="submit" value="Töröl" class="btn btn-danger" />
    <a asp-page="./DetailsBLE" asp-route-bucketListElementId="@Model.BucketListElement.ElementID" class="btn backBtn">Vissza</a>
</form>