@page
@model BucketListApplication.Pages.BLElements.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Részletek</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Cél:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BucketListElement.Name)
        </dd>

        <dt class="col-sm-2">
            Tartalmazó lista:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BucketListElement.BucketList.Name)
        </dd>

        <dt class="col-sm-2">
            Leírás:
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.BucketListElement.Description)
        </dd>
        <dd class="col-sm-2"></dd>

        <dt class="col-sm-2">
            Láthatóság:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BucketListElement.Visibility)
        </dd>

        <dt class="col-sm-2">
            Teljesítve:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YesOrNo)
        </dd>

        <dd class="col-sm-12">
            <table class="table">
                <tr>
                    <th>Kategóriák:</th>
                </tr>
                @foreach (var item in Model.BucketListElement.ElementCategories)
                {
                    <tr>
                        <td>
                            <span style="margin-left:2em">
                                @Html.DisplayFor(modelItem => item.Category.Name)
                            </span>
                        </td>
                    </tr>
                }
            </table>
        </dd>

        @if (Model.BucketListElement.Progression != null)
        {
            <dd class="col-sm-12">
                <table class="table">
                    <tr>
                        <th>Taszkok:</th>
                    </tr>
                    @foreach (var task in Model.BucketListElement.Progression.BLETasks)
                    {
                        <tr>
                            <td>
                                <span style="margin-left:2em">
                                    @Html.DisplayFor(modelItem => task.Text)
                                </span>
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BucketListElement.ElementID">Szerkeszt</a> |
    <a asp-page="./Delete" asp-route-id="@Model.BucketListElement.ElementID">Törlés</a> |
    <a asp-page="./Index" asp-route-selectedbucketlistid="@Model.BucketListElement.BucketListID">Vissza</a>
</div>
