@page
@model BucketListApplication.Pages.BLElements.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Részletek</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Cél:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BLElement.Name)
        </dd>

        <dt class="col-sm-2">
            Tartalmazó lista:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BLElement.BucketList.Name)
        </dd>

        <dt class="col-sm-2">
            Leírás:
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.BLElement.Description)
        </dd>
        <dd class="col-sm-2"></dd>

        <dt class="col-sm-2">
            Láthatóság:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BLElement.Visibility)
        </dd>

        <dd class="col-sm-12">
            <table class="table">
                <tr>
                    <th>Kategóriák:</th>
                </tr>
                @foreach (var item in Model.BLElement.ElementCategories)
                {
                    <tr>
                        <td>
                            <span style="margin-left:2em">
                                @Html.DisplayFor(modelItem => item.Category.Name)
                            </span>
                        </td>
                    </tr>
                }
            </table>
        </dd>

        <dt class="col-sm-1">
            Teljesítve:
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.YesOrNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BLElement.ElementID">Szerkeszt</a> |
    <a asp-page="./Index">Vissza</a>
</div>
