@page
@model BucketListApplication.Pages.BLElements.EditModel

@{
    ViewData["Title"] = "Edit";
}

<form method="post">
    <div class="row mt-40">
        <section class="col-lg-4" style="padding-top:3.5rem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table>
                <tr class="form-group editRow">
                    <td class="firstColumn">
                        <label asp-for="BucketListElement.Name" class="control-label">Cél:</label>
                    </td>
                    <td class="secondColumn">
                        <input asp-for="BucketListElement.Name" class="form-control input" required="required" />
                    </td>
                </tr>
                <tr class="form-group editRow">
                    <td class="firstColumn">
                        <label asp-for="BucketListElement.BucketListID" class="control-label">Lista:</label>
                    </td>
                    <td class="secondColumn">
                        <select asp-for="BucketListElement.BucketListID" class="form-control input" asp-items="Model.BucketListSL"></select>
                    </td>
                </tr>
                <tr class="form-group editRow">
                    <td class="firstColumn">
                        <label asp-for="BucketListElement.Visibility" class="control-label">Láthatóság:</label>
                    </td>
                    <td class="secondColumn">
                        <select asp-for="BucketListElement.Visibility" asp-items="Html.GetEnumSelectList<Models.Visibility>()" class="form-control input"></select>
                    </td>
                </tr>
                <tr class="form-group editRow">
                    <td class="firstColumn" style="vertical-align:top">
                        <label asp-for="BucketListElement.Description" class="control-label">Leírás:</label>
                    </td>
                    <td class="secondColumn">
                        <textarea asp-for="BucketListElement.Description" class="form-control input" rows="6"></textarea>
                    </td>
                </tr>
                <tr class="form-group completedRow">
                    <td class="firstColumn">
                        <label asp-for="BucketListElement.Completed" class="control-label">Teljesítve:</label>
                    </td>
                    <td class="secondColumn">
                        <div class="switchToggle">
                            <input type="checkbox" asp-for="BucketListElement.Completed" id="completed">
                            <label for="completed" />
                        </div>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Mentés" class="btn myBtn submitBtn" />
            <a asp-page="./Index" asp-route-selectedbucketlistid="@Model.BucketListElement.BucketListID" class="btn backBtn">Vissza</a>
        </section>
        
        <section class="col-lg-3 dirColumn-centered">
            <h4>Kategóriák</h4>
            <div class="form-group myFormGroup">
                <div>
                    @{
                        for (int i = 0; i < Model.AssignedCategoryDataList.Count; i++)
                        {
                            <input type="checkbox"
                                   class="categoryCheckbox"
                                   id="category_@i"
                                   name="selectedCategories"
                                   value="@Model.AssignedCategoryDataList.ElementAt(i).CategoryID"
                                   @(Html.Raw(Model.AssignedCategoryDataList.ElementAt(i).Assigned ? "checked=\"checked\"" : "")) />
                            <label for="category_@i">@Model.AssignedCategoryDataList.ElementAt(i).Name</label>
                        }
                    }
                </div>
            </div>
        </section>

        <section class="col-lg-5 dirColumn-centered">
            <h4>Részfeladatok</h4>
            <div class="form-group myFormGroup">
                <div id="Tasks">
                    @{
                        int indexCounter = 0;
                        int taskCounter = 1;
                        foreach (var task in Model.BucketListElement.Progression.BLETasks)
                        {
                            <div class="taskRow horiz-center">
                                <input class="largerCheckbox" asp-for="@Model.BucketListElement.Progression.BLETasks[indexCounter].Completed" />
                                <input class="taskInput input form-control" asp-for="@Model.BucketListElement.Progression.BLETasks[indexCounter].Text" required="required" />
                                <button class="btn btn-danger deleteBtn" onclick="deleteRow(this)" value="@indexCounter"><i class="fas fa-trash-alt"></i></button>
                            </div>
                            indexCounter++;
                            taskCounter++;
                        }
                    }
                </div>
                <button id="addTask" class="btn myBtn submitBtn">Új taszk</button>
            </div>
        </section>
    </div>
</form>

<style>
    #addTask {
        padding: 2.5px 5px;
        margin-top: 5px;
        margin-left: 3.5rem;
    }

    .taskInput {
        display:inline;
        text-align: center;
        width: 70%;
    }

    .taskRow {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

    .largerCheckbox {
        width: 1rem;
        height: 1rem;
        margin-left: 1rem;
        vertical-align: middle;
    }

    .deleteBtn {
        height: 2rem;
        width: 2rem;
        padding: 0;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var counter = @Model.BucketListElement.Progression.BLETasks.Count + 1;
        $("#addTask").on("click", function () {
            var htmlstring = "<div class='taskRow horiz-center'>";
            htmlstring += "<input type='checkbox' name='BucketListElement.Progression.BLETasks[" + (counter - 1) + "].Completed' class='largerCheckbox' value='true'> ";
            htmlstring += "<input type='text' name='BucketListElement.Progression.BLETasks[" + (counter - 1) + "].Text' class='taskInput input form-control' required='required'> ";
            htmlstring += "<button class='btn btn-danger deleteBtn' onclick='deleteRow(this)' value='" + (counter - 1) + "'><i class='fas fa-trash-alt'></i></button></div>"
            $("#Tasks").append(htmlstring);
            counter++;
        })

        function deleteRow(element) {
            var currentRow = parseInt($(element).val());
            let nextsiblings = document.querySelectorAll('.taskRow:nth-child(' + (currentRow + 1) + ') ~ *');
            for (var i = 0; i < nextsiblings.length; i++) {
                var childElements = nextsiblings[i].children;
                childElements[0].setAttribute("name", "BucketListElement.Progression.BLETasks[" + currentRow + "].Completed");
                childElements[1].setAttribute("name", "BucketListElement.Progression.BLETasks[" + currentRow + "].Text");
                childElements[2].setAttribute("value", currentRow)
                currentRow++;
            }
            $(element).parent("div").remove();
            counter--;
        }
    </script>
}