@page
@model BucketListApplication.Pages.BLElements.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Szerkesztés</h1>
<hr />

<form method="post">
    <div class="row">
        <section class="col-lg-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table>
                <tr class="form-group">
                    <td>
                        <label asp-for="BucketListElement.Name" class="control-label">Cél:</label>
                    </td>
                    <td>
                        <input asp-for="BucketListElement.Name" class="form-control" required="required"/>
                    </td>
                </tr>
                <tr class="form-group">
                    <td>
                        <label asp-for="BucketListElement.BucketListID" class="control-label">Lista:</label>
                    </td>
                    <td>
                        <select asp-for="BucketListElement.BucketListID" class="form-control" asp-items="Model.BucketListSL"></select>
                    </td>
                </tr>
                <tr class="form-group">
                    <td>
                        <label asp-for="BucketListElement.Visibility" class="control-label">Láthatóság:</label>
                    </td>
                    <td>
                        <select asp-for="BucketListElement.Visibility" asp-items="Html.GetEnumSelectList<Models.Visibility>()" class="form-control"></select>
                    </td>
                </tr>
                <tr class="form-group">
                    <td style="vertical-align:top">
                        <label asp-for="BucketListElement.Description" class="control-label">Leírás:</label>
                    </td>
                    <td>
                        <textarea asp-for="BucketListElement.Description" class="form-control" rows="4"></textarea>
                    </td>
                </tr>
                <tr class="form-group">
                    <td>
                        <label asp-for="BucketListElement.Completed" class="control-label">Teljesítve:</label>
                    </td>
                    <td>
                        <input asp-for="BucketListElement.Completed"/>
                    </td>
                </tr>
                <tr>
                    <td class="form-group">
                        <input type="submit" value="Hozzáad" class="btn btn-primary" />
                    </td>
                    <td>
                        <a href="./Index" class="btn btn-outline-primary">Vissza</a>
                    </td>
                </tr>
            </table>
        </section>

        <section class="col-lg-4">
            <div class="form-group">
                <div class="table">
                    <table>
                        @{
                            for (int i = 0; i < Model.AssignedCategoryDataList.Count; i += 2)
                            {
                                <tr>
                                    <td>
                                        @Model.AssignedCategoryDataList.ElementAt(i).Name
                                    </td>
                                    <td>
                                        <input type="checkbox" name="selectedCategories"
                                               value="@Model.AssignedCategoryDataList.ElementAt(i).CategoryID"
                                               @(Html.Raw(Model.AssignedCategoryDataList.ElementAt(i).Assigned ? "checked=\"checked\"" : "")) />
                                    </td>
                                    @if (i + 1 < Model.AssignedCategoryDataList.Count)
                                    {
                                        <td>
                                            @Model.AssignedCategoryDataList.ElementAt(i + 1).Name
                                        </td>
                                        <td>
                                            <input type="checkbox" name="selectedCategories"
                                                   value="@Model.AssignedCategoryDataList.ElementAt(i + 1).CategoryID"
                                                   @(Html.Raw(Model.AssignedCategoryDataList.ElementAt(i + 1).Assigned ? "checked=\"checked\"" : "")) />
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </section>
        <section class="col-lg-4">
            <div class="form-group">
                <div id="Tasks" style="margin-top:10px">
                    @{
                        int indexCounter = 0;
                        int taskCounter = 1;
                        foreach (var task in Model.BucketListElement.Progression.BLETasks)
                        {
                            <div class="taskRow">
                                <label>Task @taskCounter:</label>
                                <input class="form-control" asp-for="@Model.BucketListElement.Progression.BLETasks[indexCounter].Text" required="required" />
                                <input class="largerCheckbox" asp-for="@Model.BucketListElement.Progression.BLETasks[indexCounter].Completed" />
                                <button class="btn btn-danger" style="padding-top:1px" onclick="deleteRow(this)" value="@indexCounter">-</button>
                            </div>
                            indexCounter++;
                            taskCounter++;
                        }
                    }
                </div>
                <button id="addTask" class='btn btn-primary'>Új taszk</button>
            </div>
        </section>
    </div>
</form>

<style>
    .largerCheckbox {
        width: 25px;
        height: 25px;
        margin-left: 20px;
        margin-right: 20px;
        vertical-align: middle
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    var counter = @Model.BucketListElement.Progression.BLETasks.Count + 1;
    $("#addTask").on("click", function () {
        var htmlstring = "<div class='taskRow'><label>Task " + counter + ":</label>";
        htmlstring += "<input type='text' name='BucketListElement.Progression.BLETasks[" + (counter - 1) + "].Text' required='required'>";
        htmlstring += "<input type='checkbox' name='BucketListElement.Progression.BLETasks[" + (counter - 1) + "].Completed' class='largerCheckbox' value='true'>";
        htmlstring += "<button class='btn btn-danger' style='padding-top:1px' onclick='deleteRow(this)' value='" + (counter - 1) + "'>-</button></div>"
        $("#Tasks").append(htmlstring);
        counter++;
    })

    function deleteRow(element) {
        var currentRow = parseInt($(element).val());
        let nextsiblings = document.querySelectorAll('.taskRow:nth-child(' + (currentRow + 1) + ') ~ *');
        for (var i = 0; i < nextsiblings.length; i++) {
            var childElements = nextsiblings[i].children;
            childElements[0].textContent = "Task " + (currentRow + 1) + ":";
            childElements[1].setAttribute("name", "BucketListElement.Progression.BLETasks[" + currentRow + "].Text");
            childElements[2].setAttribute("name", "BucketListElement.Progression.BLETasks[" + currentRow + "].Completed");
            childElements[3].setAttribute("value", currentRow)
            currentRow++;
        }
        $(element).parent("div").remove();
        counter--;
    }
</script>
}
