@page
@model BucketListApplication.Pages.BLElements.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Szerkesztés</h1>
<hr />

<div class="row">
    <section class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BucketListElement.BucketListID" class="control-label">Bakancslista:</label>
                <select asp-for="BucketListElement.BucketListID" class="form-control" asp-items="Model.BucketListSL"></select>
            </div>
            <div class="form-group">
                <label asp-for="BucketListElement.Name" class="control-label">Cél:</label>
                <input asp-for="BucketListElement.Name" class="form-control" />
                <span asp-validation-for="BucketListElement.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BucketListElement.Description" class="control-label">Leírás:</label>
                <textarea asp-for="BucketListElement.Description" class="form-control"></textarea>
                <span asp-validation-for="BucketListElement.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                foreach (var category in Model.AssignedCategoryDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                        @:</tr><tr>
                                    }
                                    @:<td align="center">
                                        <input type="checkbox" name="selectedCategories" value="@category.CategoryID" @(Html.Raw(category.Assigned ? "checked=\"checked\"" : "")) />
                                        <br />@category.Name
                                    @:</td>
                                }
                                @:</tr>
                            }
                        </table>
                    </div>
            </div>
            <div class="form-group">
                <label asp-for="BucketListElement.Visibility" class="control-label">Láthatóság:</label>
                <select asp-for="BucketListElement.Visibility" asp-items="Html.GetEnumSelectList<Models.Visibility>()" class="form-control"></select>
                <span asp-validation-for="BucketListElement.Visibility" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BucketListElement.Completed" /> Teljesítve
                </label>
            </div>

            <div class="form-group">
                <label asp-for="BucketListElement.Progression.BLETasks" class="control-label"></label>
                <button id="addTask" class='btn btn-primary'>+</button>
                <div id="Tasks" style="margin-top:10px">
                    @{
                        int indexCounter = 0;
                        int taskCounter = 1;
                        foreach (var task in Model.BucketListElement.Progression.BLETasks)
                        {
                            <div class="taskRow">
                                <label>Task @taskCounter:</label>
                                <input class="form-control" asp-for="@Model.BucketListElement.Progression.BLETasks[indexCounter].Text" required="required" />
                                <input class="largerCheckbox" asp-for="@Model.BucketListElement.Progression.BLETasks[indexCounter].Completed" />
                                <button class="btn btn-danger" style="padding-top:1px" onclick="deleteRow(this)" value="@indexCounter">-</button>
                            </div>
                            indexCounter++;
                            taskCounter++;
                        }
                    }
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Mentés" class="btn btn-primary" />
            </div>
        </form>
    </section>
    <section class="col-md-6">

    </section>
</div>

<div>
    <a asp-page="./Index">Vissza</a>
</div>

<style>
    .largerCheckbox {
        width: 25px;
        height: 25px;
        margin-left: 20px;
        margin-right: 20px;
        vertical-align: middle
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    var counter = @Model.BucketListElement.Progression.BLETasks.Count + 1;
    $("#addTask").on("click", function () {
        var htmlstring = "<div class='taskRow'><label>Task " + counter + ":</label>";
        htmlstring += "<input type='text' name='BucketListElement.Progression.BLETasks[" + (counter - 1) + "].Text' required='required'>";
        htmlstring += "<input type='checkbox' name='BucketListElement.Progression.BLETasks[" + (counter - 1) + "].Completed' class='largerCheckbox' value='true'>";
        htmlstring += "<button class='btn btn-danger' style='padding-top:1px' onclick='deleteRow(this)' value='" + (counter - 1) + "'>-</button></div>"
        $("#Tasks").append(htmlstring);
        counter++;
    })

    function deleteRow(element) {
        var currentRow = parseInt($(element).val());
        let nextsiblings = document.querySelectorAll('.taskRow:nth-child(' + (currentRow + 1) + ') ~ *');
        for (var i = 0; i < nextsiblings.length; i++) {
            var childElements = nextsiblings[i].children;
            childElements[0].textContent = "Task " + (currentRow + 1) + ":";
            childElements[1].setAttribute("name", "BucketListElement.Progression.BLETasks[" + currentRow + "].Text");
            childElements[2].setAttribute("name", "BucketListElement.Progression.BLETasks[" + currentRow + "].Completed");
            childElements[3].setAttribute("value", currentRow)
            currentRow++;
        }
        $(element).parent("div").remove();
        counter--;
    }
</script>
}
