@page "{selectedbucketlist:int?}"
@model BucketListApplication.Pages.BLElements.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="mt-40" style="display: flex; align-items: center;">
    <form method="post" id="bucketlistselectform">
        <select asp-for="SelectedBucketList.BucketListID" class="form-control BLselect" asp-items="Model.BucketListSL" onchange="SubmitBLEListing()"></select>
    </form>
    <a class="myBtn" id="addListBtn" asp-page="../BucketLists/CreateBucketList">Új lista</a>
</div>
@if (Model.SelectedBucketList != null)
{
    <a id="deleteBL" asp-page="../BucketLists/DeleteBucketList" asp-route-id="@Model.SelectedBucketList.BucketListID">Kiválasztott bakancslista törlése</a>
}

@if (Model.SelectedBLElements != null)
{
    <table class="table">
        <tbody>
            @foreach (var item in Model.SelectedBLElements)
            {
                <tr class="tableRow">
                    <td align="center" class="checkCell">
                        @if (item.Completed)
                        {
                            <img class="completedImage" src="~/images/checked.png" />
                        }
                        else
                        {
                            <img class="completedImage" src="~/images/unchecked.png" />
                        }
                    </td>
                    <td class="goalCell">
                        <a class="goal" asp-page="./Details" asp-route-id="@item.ElementID">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </td>
                    <td class="progressionCell">
                        @if (item.Progression.BLETasks.Count != 0)
                        {
                            <div>@Html.DisplayFor(modelItem => item.Progression.CompletedPercentage) <text> %</text></div>
                            <div class="progress" style="background-color: #36393f">
                                <div class="progress-bar bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                     aria-valuenow="@item.Progression.CompletedPercentage" style="width: @(Html.Raw(item.Progression.CompletedPercentage + "%"))"></div>
                            </div>
                        }
                    </td>
                </tr>
            }
            <tr class="tableRow">
                <td class="checkCell"></td>
                <td class="goalCell">
                    @if (Model.SelectedBucketList != null)
                    {
                        <a asp-page="./Create" asp-route-bucketlistid="@Model.SelectedBucketList.BucketListID" class="myBtn submitBtn">Új elem</a>
                    }
                </td>
                <td class="progressionCell"></td>
            </tr>
        </tbody>
    </table>
}