@page
@model BucketListApplication.Pages.BLElements.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Bakancslista</h1>

<p>
    <a asp-page="../BucketLists/CreateBucketList">Új Bakancslista létrehozása</a>
</p>
<p>
    <a asp-page="./Create">Új Bakancslista elem létrehozása</a>
</p>

<form method="post" id="bucketlistselectform">
    <div class="form-group">
        <select asp-for="SelectedBucketList.BucketListID" class="form-control" asp-items="Model.BucketListSL" onchange="SubmitBLEListing()"></select>
    </div>
</form>

@if (Model.SelectedBLElements != null)
{
    <table class="table">
        <tbody>
            <tr>
                <td class="font-weight-bold">
                    Cél
                </td>
                <td align="center" class="font-weight-bold">
                    Taszkok teljesítettsége
                </td>
                <td align="center" class="font-weight-bold">
                    Kész
                </td>
                <td></td>
            </tr>
            @foreach (var item in Model.SelectedBLElements)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td align="center">
                        @if (item.Progression.BLETasks.Count != 0)
                        {
                            @Html.DisplayFor(modelItem => item.Progression.CompletedPercentage) <text> %</text>
                        }
                        else
                        {
                            <text>-</text>
                        }
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.Completed)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ElementID">Szerkeszt</a> |
                        <a asp-page="./Details" asp-route-id="@item.ElementID">Részletek</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ElementID">Törlés</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.SelectedBucketList != null)
{
    <a asp-page="../BucketLists/DeleteBucketList" asp-route-id="@Model.SelectedBucketList.BucketListID">Kiválasztott bakancslista törlése</a>
}

@section Scripts
{
    <script>
        function SubmitBLEListing() {
            var selectlist = document.getElementById("SelectedBucketList_BucketListID");
            var option = selectlist.options[selectlist.selectedIndex];
            if (option.value != "null")
                document.getElementById("bucketlistselectform").submit();
        }
    </script>
}